#tile {
	color: white;
	background-color: #00061F;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	margin-left: 3px;
	margin-right: 3px;
}

#tile:hover{
   	color: #00061F;
   	background-color: white;
}