@import "header";
@import "tile";
@import "footer";
@import (inline) "bootstrap.css";

body {
    background-color: #FFFFFF;
    height: 100%;
}

#homepage-form {
    vertical-align: middle;
    text-align: center;
}

.form-inline {
    padding: 20px;
}
